*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.start{
  display: flex;
  justify-content: center;
  align-items:center;
}
.container{
  width: 200vh;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 600px;
  height: 600px;
  margin-top: 100px;
}
.results{
display: flex;
justify-content: space-around;
}